body {
  background: #e4e5e6;
  background-image: url(../img/fundo.png);
}

a {
  color: #00838f;
}
a:hover, a:active, a:focus {
  outline: none;
  text-decoration: underline;
  color: #00838f;
}

.logo {
  height: 125px;
}

.organization {
  font-weight: 600;
  font-size: 1.5rem;
}

.organization .word-first {
  color: #b71c1c;
}

.organization .word-last {
  color: #424242;
}

.application {
  color: #424242;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 15px;
}


#kc-header, #kc-content {
    margin-left: auto;
    margin-right: auto;
}

#kc-header {
    width: 90%;
    font-size: 35px;
    text-align: center;
    margin-bottom: 25px;
    font-weight: 300;
    margin-top: 7%;
    color: rgb(68, 68, 68);
}

#kc-content {
    background: white;
    padding: 20px;
    border-radius: 3px;
    border-top: 3px solid #455861;
    box-shadow: 0 5px 6px -3px rgba(0,0,0,.2), 0 9px 12px 1px rgba(0,0,0,.14), 0 3px 16px 2px rgba(0,0,0,.12);
}

#kc-content-header {
border-bottom: 1px solid #e9eaec;
    padding: 14px 16px;
    line-height: 1;
    background: #f7f7f7;
    margin-left: -20px !important;
    margin-right: -20px !important;
    margin-top: -20px !important;
    margin-bottom: 20px;
}

#kc-content-header > p {
font-size: 17px;
    color: grey;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Latos, serif;
    margin: 0;
}


@media (max-width: 768px) {
    #kc-content {
        width: 90%;
    }
}

@media (min-width: 769px) {
    #kc-content {
        width: 360px;
    }
}

.password-container {
    margin-top: 15px;
    margin-bottom: 20px;
}

#kc-login {
    float: right;
}

#kc-error-message p {
    margin: 0;
}

.checkbox {
    margin-bottom: 0px;
}

.remember-me-checkbox label {
    padding-left: 0px;        
}

.register .register-field {
    margin-bottom: 15px;
}

.register .register-button-container {
    margin-top: 20px;
}

.reset-password .reset-password-field {
    margin-bottom: 15px;
}

.update-password .update-password-field {
    margin-bottom: 15px;
}

.update-password .update-password-button-container {
    margin-top: 20px;
}

.config-totp .config-totp-button-container {
    margin-top: 15px;
}

.totp .totp-button-container {
    margin-top: 15px;
}

.update-profile .update-profile-field {
    margin-top: 15px;
}

.update-profile .update-profile-button-container {
    margin-top: 20px;
}

.template .language-picker {
    position: relative;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 160px;
}

.template .language-picker .form-group {
    white-space: nowrap;

    /* the below keeps the label in "inline" mode even on narrow screens */
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}

.template .language-picker .language-picker-dropdown-label i {
    vertical-align: middle;
    margin-right: 7px;
    margin-left: -7px;
    color: #9ca2af;
}

.template .language-picker select.form-control {
    border-color: #afb0b3;
    background: transparent;

    /* the below keeps the <select> in "inline" mode even on narrow screens */
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

.btn-primary {
  background-color: #455861;
  border-color: #455861;
}
.btn-primary:hover, .btn-primary:active, .btn-primary.hover, .btn-primary:active:hover {
  background-color: #00838f;
}
.alert-danger, .alert-error {
  background-color: transparent !important;
  border-color: #ed3f14 !important;
  color: #ed3f14 !important;
}
.alert-warning {
  border-color: #f39c12 !important;
  color: #8a6d3b !important;
  background-color: #fcf8e3 !important;
}
.alert-info {
  border-color: #00acd6 !important;
  color: #31708f !important;
  background-color: #d9edf7 !important;
}
.alert-success {
  border-color: #008d4c !important;
  color: #3c763d !important;
  background-color: #dff0d8 !important;
}

