<#import "template.ftl" as layout>
<@layout.registrationLayout; section>
    <#if section = "title">
        <i class="mdi mdi-progress-check"></i> ${msg("emailVerifyTitle")}
    <#elseif section = "header">
        <i class="mdi mdi-progress-check"></i> ${msg("emailVerifyTitle")}
    <#elseif section = "form">
        <p class="instruction">
            ${msg("emailVerifyInstruction1")}
        </p>
        <p class="instruction">
            ${msg("emailVerifyInstruction2")} <a href="${url.loginAction}">${msg("doClickHere")}</a> ${msg("emailVerifyInstruction3")}
        </p>
    </#if>
</@layout.registrationLayout>
